<%- include('layout/header') %>

<div class="container">
  <div class="row">
    <div class="col-12 mx-auto mt-4">
      <div class="card shadow">
        <div class="card-header bg-primary">
          <h3 class="text-light">Add New Recipe</h3>
        </div>
        <div class="card-body p-4">
          <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="dish">Dish Name</label>
              <input type="text" name="dish" class="form-control form-control-lg" placeholder="Enter Dish Name" required />
            </div>
            <div class="mb-3">
              <label for="ingredients">Ingredients</label>
              <input type="text" name="ingredients" class="form-control form-control-lg" placeholder="Enter Ingredients" required />
            </div>
            <div class="mb-3">
              <label for="instructions">Instructions</label>
              <input type="text" name="instructions" class="form-control form-control-lg" placeholder="Enter Instructions" required />
            </div>

            <div class="mb-3">
              <label for="image" class="form-label">Select Image</label>
              <input class="form-control form-control-lg" type="file" name="image" required />
            </div>

            <div class="mb-3 d-grid">
              <input type="submit" name="submit" value="Add Recipe" class="btn btn-primary btn-lg" />
            </div>
          </form>
        </div>
      </div>
    </div>  
  </div>
</div>

<%- include('layout/footer') %>